{{ form_start(form, {'attr':{'class': 'needs-validation', 'novalidate': 'true'}}) }}
    <div class="form-group">
        <label for="{{ form.capacite.vars.id }}">{{ form.capacite.vars.label }}</label>
        {{ form_widget(form.capacite, {'attr': {'class': 'form-control'}}) }}

        <small class="form-text text-muted">{{ form_help(form.capacite) }}</small>
        <div class="invalid-feedback">{{ form_errors(form.capacite) }}</div>
  </div>

    <div class="form-group">
        <label for="{{ form.lieu.vars.id }}">{{ form.lieu.vars.label }}</label>
        {{ form_widget(form.lieu, {'attr': {'class': 'form-control'}}) }}

        <small class="form-text text-muted">{{ form_help(form.lieu) }}</small>
        <div class="invalid-feedback">{{ form_errors(form.lieu) }}</div>
    </div>

    <div class="form-group">
        <label for="{{ form.batiment.vars.id }}">{{ form.batiment.vars.label }}</label>
        {{ form_widget(form.batiment, {'attr': {'class': 'form-control'}}) }}

        <small class="form-text text-muted">{{ form_help(form.batiment) }}</small>
        <div class="invalid-feedback">{{ form_errors(form.batiment) }}</div>
  </div>

    <div class="form-group">
        <label for="{{ form.etage.vars.id }}">{{ form.etage.vars.label }}</label>
        {{ form_widget(form.etage, {'attr': {'class': 'form-control'}}) }}

        <small class="form-text text-muted">{{ form_help(form.etage) }}</small>
        <div class="invalid-feedback">{{ form_errors(form.etage) }}</div>
  </div>

    <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}

<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
</script>